/* SuperButton.module.css */
.button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.default {
    background: #f5f5f5;
}

.red {
    background: #ff5555;
    color: white;
}

.secondary {
    background: transparent;
    border: 2px solid #555;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* SuperCheckbox.module.css */
.label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.span {
    font-family: sans-serif;
}

.checkbox {
    width: 20px;
    height: 20px;
}